.toolbarnav2 {
  position: fixed;
  top: 112px;
  left: 0;
  background: black;
  width: 100%;
  height: 30px;
  z-index: 201;

  color: rgb(252, 250, 250);
  font-size: 1rem;
  display: flex;
  background: black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.toolbarnav {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;

  z-index: 200;

  color: rgb(252, 250, 250);
  font-size: 1rem;
  display: flex;
  background: black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.toolbarnav a.textlink {
  color: black;
}

.toolbarnav a.textlink:hover {
  color: darkorange;
}
.toolbarnav a {
  color: white;
}
.toolbarnav a:hover {
  color: darkorange;
}
.icon_inherit {
  display: inherit;
}
i.icon {
  display: initial;
  padding-right: 0.3rem;
}
.icon_bar_text {
  display: initial;
}
.search_bar {
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search_bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
.inputsearch {
  font-size: 2rem;
  margin: 0 10px;
  min-width: 100%;
}
.toolbarnav li {
  cursor: pointer;
  padding: 0 0.5rem;
  vertical-align: bottom;
}
.toolbarnav li:hover {
  color: rgba(85, 172, 238, 1);
}
.twitter__bird {
  color: rgba(85, 172, 238, 1);
  font-size: 1.3em;
}
.toolbarnav li:not(:last-child):not(.twitter__bird) {
  margin-right: 10px;
}
.toolbarnav li i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}
.toolbarnav li > button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85, 172, 238, 1);
  color: #fff;
  border-radius: 100px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 86px;
  z-index: 200;
}

.toolbar_logo {
  padding-left: 10px;
}
.toolbar_navigation {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  height: 100%;
}
.toolbar_navigation_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar_navigation_item li {
  padding: 0 0.5rem;
}
.toolbar_navigation_item a {
  color: white;
  text-decoration: none;
}
.toolbar_navigation_item a:hover,
.toolbar_navigation_item a:active {
  color: orange;
}
.spacer {
  flex: 1;
}
